    {% include 'header.html' %}
    <br>
    <form method="post" action="/store" enctype="multipart/form-data">

        <div class="card">
            <div class="card-header">
                Ingresar registros
    
            </div>
            <div class="card-body">
                <h5 class="card-title">Datos del usuario</h5>
                <p class="card-text">
                    
                    <div class="form-group">
                        <label for="txtCedula">Cedula:</label>
                        <input id="txtCedula" class="form-control" type="text" name="txtCedula" required>
                    </div>
                    <div class="form-group">
                        <label for="txtLugarExpedicion">Lugar de expedicion:</label>
                        <input id="txtLugarExpedicion" class="form-control" type="text" name="txtLugarExpedicion" required>
                    </div>
                    <div class="form-group">
                        <label for="txtNombres">Nombres:</label>
                        <input id="txtNombres" class="form-control" type="text" name="txtNombres" required>
                    </div>
                    <div class="form-group">
                        <label for="txtApellidos">Apellidos:</label>
                        <input id="txtApellidos" class="form-control" type="text" name="txtApellidos" required>
                    </div>
                    <div class="form-group">
                        <label for="txtTelefono">Telefono:</label>
                        <input id="txtTelefono" class="form-control" type="text" name="txtTelefono" required>
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Email:</label>
                        <input id="txtEmail" class="form-control" type="text" name="txtEmail" required>
                    </div>
                    <div class="form-group">
                        <label for="txtEmpresaLaboro">Empresa donde laboro:</label>
                        <input id="txtEmpresaLaboro" class="form-control" type="text" name="txtEmpresaLaboro" required>
                    </div>
                    <div class="form-group">
                        <label for="txtCargo">Cargo que desempeño:</label>
                        <input id="txtCargo" class="form-control" type="text" name="txtCargo" required>
                    </div>
                    <div class="form-group">
                        <label for="txtFechaInicio">Fecha en la que inicio:</label>
                        <input id="txtFechaInicio" class="form-control" type="text" name="txtFechaInicio" required>
                    </div>
                    <div class="form-group">
                        <label for="txtFechaRetiro">Fecha en la que se retiro:</label>
                        <input id="txtFechaRetiro" class="form-control" type="text" name="txtFechaRetiro" required>
                    </div>
                    <div class="form-group">
                        <label for="txtFechaNacimiento">Fecha de nacimiento:</label>
                        <input id="txtFechaNacimiento" class="form-control" type="text" name="txtFechaNacimiento" required>
                    </div>
                    <div class="form-group">
                        <label for="txtFondoPension">Fondo de pensión en el que estuvo afiliado:</label>
                        <input id="txtFondoPension" class="form-control" type="text" name="txtFondoPension" required>
                    </div>
                    <div class="form-group">
                        <label for="txtFoto">Foto:</label>
                        <input id="txtFoto" class="form-control" type="file" name="txtFoto" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" value="Agregar">
                        <a href="{{url_for('index')}}" class="btn btn-primary">Regresar</a>
                    </div>

                </p>
            </div>
        </div>
    

    </form>
{% include 'footer.html' %}