{% include 'header.html' %}
<br>
{% for registro in registros %}

<form method="post" action="/update" enctype="multipart/form-data" autocomplete="off">

    <div class="card">
        <div class="card-header">
            Editar usuario
        </div>
        <div class="card-body">
            <h5 class="card-title">Datos del usuario</h5>
            <p class="card-text">
                <div class="form-group">
                    <label for="txtCedula">Cedula:</label>
                    <input id="txtCedula" value="{{ registro[1] }}" class="form-control" type="text" name="txtCedula" required>
                </div>
                <input type="hidden" value="{{ registro[0] }}" name="txtID" id="txtID">
                
                <div class="form-group">
                    <label for="txtLugarExpedicion">Lugar de expedición:</label>
                    <input id="txtLugarExpedicion" value="{{ registro[2] }}" class="form-control" type="text" name="txtLugarExpedicion" required>
                </div>
                <div class="form-group">
                    <label for="txtNombres">Nombres:</label>
                    <input id="txtNombres" value="{{ registro[3] }}" class="form-control" type="text" name="txtNombres" requiredautocomplete="offen">
                </div>
                <div class="form-group">
                    <label for="txtApellidos">Apellidos:</label>
                    <input id="txtApellidos" value="{{ registro[4] }}" class="form-control" type="text" name="txtApellidos" required autocomplete="offen">
                </div>
                <div class="form-group">
                    <label for="txtTelefono">Teléfono:</label>
                    <input id="txtTelefono" value="{{ registro[5] }}" class="form-control" type="text" name="txtTelefono" required>
                </div>
                <div class="form-group">
                    <label for="txtEmail">Email:</label>
                    <input id="txtEmail" value="{{ registro[6] }}" class="form-control" type="text" name="txtEmail" required>
                </div>
                <div class="form-group">
                    <label for="txtEmpresaLaboro">Empresa donde laboro</label>
                    <input id="txtEmpresaLaboro" value="{{ registro[7] }}" class="form-control" type="text" name="txtEmpresaLaboro" required>
                </div>
                <div class="form-group">
                    <label for="txtCargo">Cargo que desempeño:</label>
                    <input id="txtCargo" value="{{ registro[8] }}" class="form-control" type="text" name="txtCargo" required>
                </div>
                <div class="form-group">
                    <label for="txtFechaInicio">Fecha en la que inicio:</label>
                    <input id="txtFechaInicio" value="{{ registro[9] }}" class="form-control" type="text" name="txtFechaInicio" required>
                </div>
                <div class="form-group">
                    <label for="txtFechaRetiro">Fecha en la que se retiro:</label>
                    <input id="txtFechaRetiro" value="{{ registro[10] }}" class="form-control" type="text" name="txtFechaRetiro" required>
                </div>
                <div class="form-group">
                    <label for="txtFechaNacimiento">Fecha de nacimiento:</label>
                    <input id="txtFechaNacimiento" value="{{ registro[11] }}" class="form-control" type="date" name="txtFechaNacimiento" required>
                </div>
                <div class="form-group">
                    <label for="txtFondoPension">Fondo de pensión en el que estuvo afiliado:</label>
                    <input id="txtFondoPension" value="{{ registro[12] }}" class="form-control" type="text" name="txtFondoPension" required>
                </div>
                <div class="form-group">
                    <label for="txtFoto">Foto de la solicitud:</label>

                    <img class="img-thumbnail" width="100" src="{{url_for('uploads', nombreFoto=registro[13])}}" alt="">

                    <input id="txtFoto" class="form-control" type="file" name="txtFoto">
                </div>
                <div class="form-group">
                    <label for="txtEstadoSolicitud">Estado de la Solicitud:</label>
                    <input id="txtEstadoSolicitud" value="{{ registro[14] }}" class="form-control" type="text" name="txtEstadoSolicitud" required>
                </div>
                <div class="form-group">
                    <label for="txtNotas">Notas:</label>
                    <input id="txtNotas" value="{{ registro[15] }}" class="form-control" type="text" name="txtNotas">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Modificar">
                    <a href="{{url_for('index')}}" class="btn btn-primary">Regresar</a>

                </div>


            </p>
        </div>
    </div>
    
{% endfor %}
{% include 'footer.html' %}