{% include 'header.html' %}
<br/>
<a href="{{url_for('create')}}" class="btn btn-success">

    Ingresar nueva solicitud

</a>
<br>
<br>

    <table class="table table-sm table-hover">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Cedula</th>
                <th>Expedición</th>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Empresa</th>
                <th>Cargo</th>
                <th>Inicio</th>
                <th>Retiro</th>
                <th>Nacimiento</th>
                <th>Pension</th>
                <th>Foto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>

            {% for registro in registro %}
            <tr>
                <td>{{ registro[0] }}</td>
                <td>{{ registro[1] }}</td>
                <td>{{ registro[2] }}</td>
                <td>{{ registro[3] }}</td>
                <td>{{ registro[4] }}</td>
                <td>{{ registro[5] }}</td>
                <td>{{ registro[6] }}</td>
                <td>{{ registro[7] }}</td>
                <td>{{ registro[8] }}</td>
                <td>{{ registro[9] }}</td>
                <td>{{ registro[10] }}</td>
                <td>{{ registro[11] }}</td>
                <td>{{ registro[12] }}</td>

                <td>
                    <img class="img-thumbnail" width="100" src="uploads/{{ registro[13] }}" alt="">
                    
                </td>

                <td> <a class="btn btn-warning" href="/edit/{{registro[0]}}">Editar</a> │
                    <a onclick="return confirm('¿Desea borrar el registro?')" class="btn btn-danger" href="/destroy/{{registro[0]}}">Eliminar</a>                    
                </td>
            </tr>                
            {% endfor %}

        </tbody>
    </table>

{% include 'footer.html' %}