<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incorrecto</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../static/imgs/favicon.ico">
</head>
<body>
    <form method="post" enctype="multipart/form-data" class="login">
        <h3 class="text-center">Usuario o contraseña incorrecta</h3>  
        <p class="text-center">

    <a href="{{url_for('loggin')}}" class="btn btn-primary">Regresar</a>
    <a href="{{url_for('registro')}}" class="btn btn-success">Registrar</a>
        </p>
    
</body>
</html>